@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <hr />

    <p>
        PICOT VINCENT / HADJARI KEVIN
    </p>
    <p>
        Ce site permet de faire des recherches selon 4 critères : Musiciens, enregistrements, albums et genres.
    </p>
    <p>
        Pour accéder à son panier, l'abonné doit s'être connecté au préalable.
    </p>

    <p>
        Une des difficultés principales rencontrées a été de ne pouvoir travailler qu'à l'IUT pour l'accès à la base.
    </p>
</div>

