@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h2>@ViewBag.Title</h2>
    <hr />

    <p>
        C'est un site web développé sur ASP.MVC 5, la technologie de <i>Microsoft</i>. Il permet de
        rechercher des compositeurs, des albums et d'écouter des enregistrements de musique classique.
    </p>
    <p>
        Grâce au code <i>Asin</i> (Amazon Standard Identification Number) vous pourrez retrouver l'album ou
        l'enregistrement de votre choix sur <i>Amazon</i>. Libre à vous de l'acheter par la suite.
    </p>
    <p>
        Un panier d'achat récapitule tous les morceaux que vous aurez sélectionés pendant votre parcours sur le site. Il est accessible
        en cliquant sur la petite icône en haut dans la barre de menu.
    </p>
    <p>
        Les recherches ont été croisées ce qui permet à l'utilisateur d'avoir la liste des albums d'un compositeur.
        Chacun de ces albums donne accès aux extraits des enregistrements qui le concerne.
    </p>
    <p>
        La principale difficulté rencontrée a été de travailler avec la base de donnée Classique_web.
        Le fait de devoir être à l'IUT pour y avoir accès a posé des problèmes d'organisation dans notre équipe.
        Cela nous a donc fait perdre du temps.
    </p>
   
</div>

