@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Classique</h1></br>
    <p class="lead">
        Bienvenue sur 'Classique',
        un site web a but pédagogique. Il va vous permettre de rechercher des compositeurs, des albums et d'écouter des extraits d'enregistrements de musique Classique.
        Tous les articles présents sur ce site, le sont aussi sur <i>Amazon</i>. Vous pourrez les retrouver grâce à leur code <i>Asin</i>.
    </p>
    <p class="lead">
        Pour faciliter votre recherche, n'hésitez pas à vous servir des liens ci-dessus.

    </p>
    <p class="lead">
        Toute l'equipe de 'Classique' vous souhaite une bonne visite !
    </p>
</div>

