@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Classique</h1></br>
    <p class="lead">
        Bienvenue sur ce site de musique classique,
       
    </p>

    <p> Si c'est votre première visite, nous vous invitions à vous inscrire et à compléter votre profil, pour pouvoir
        parcourir tout le contenu et faire vos achats !</p>
    
    
</div>

