
@{
    ViewBag.Title = "Recherche";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Recherche</h2>

<div class="criteres"></div>
<ul>

    <li>@Html.ActionLink("Musiciens", "Index", "Musiciens")</li>
    <li>@Html.ActionLink("Enregistrements", "Index", "Enregistrements")</li>
    <li>@Html.ActionLink("Albums", "Index", "Albums")</li>
    <li>@Html.ActionLink("Genres", "Index", "Genres")</li>
    

</ul>